
*.kicad_pcb-bak
*.zip
*.sch-bak
*.kicad_pcb-bak
*.kicad_pcb-bak
*.sch-bak
*.kicad_pcb-bak
loco/firmware/loco/.settings/language.settings.xml
loco/loco/fp-info-cache
loco/firmware/loco/loco Debug.cfg
tcrt5000/fp-info-cache
